body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  gap: 10px;
}
 .calculator-screen {
  border: 1px solid black;
  height: 100px;
  width: 300px;
  border-radius: 10px;
}

.calculator-btns {
}
.btns-middle {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
}

.btns-left {
  display: grid;
  border: 1px solid black;
  background-color: red;
}

.btns-right {
  display: flex;
  flex-direction: column;
  background-color: blue;
}

button {
}
