body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-left {
  display: flex;
  flex-direction: column;
}
.btn-right {
  display: flex;
  flex-direction: column;
}

.btns-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: 100px;
  margin: 5px;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 500px;
  border: 1px solid black;
}
.calculator-screen {
  border: 1px solid black;
  height: 200px;
  width: 420px;
  border-radius: 10px;
}
